[Unit]
Description=my-xui Service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/my-xui/
ExecStart=/usr/local/my-xui/my-xui

[Install]
WantedBy=multi-user.target
